html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    position: relative;

}

.content{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, #FFAF7B, #D76D77, #3A1C71);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.game-grid{
    margin: 72px 0;
    display: grid;
    grid-template-columns: repeat(3, 72px);
    grid-template-rows: repeat(3, 72px);
    gap: 4px;
}

.game-cell{
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.game-cell:hover{
    background-color: rgba(255, 255, 255, 0.6);
}

#reset{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    width: 128px;
    height: 36px;
    font-size: 18px;
    color: #757575;
    border: none;
    cursor: pointer;
}

#reset:hover{
    background-color: rgba(255, 255, 255, 0.9);
}


.resultModal{
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
}

#modal{
    position:absolute; 
    width: 100%;
    height: 250px;
    margin: auto auto;
    top: calc(50% - 125px);
    background-color: rgba(0,0,0,0.4); 

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 48px;
}



